@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    position: relative;
    overflow: hidden;
    font-family: Roboto;
}

/*=========================
nav
==========================*/
.link-row a {
    text-decoration: none;
    color: #fff
}

.link-row {
    padding: 10px;

}

.mobile-container {
    display: flex;
    flex-direction: row;
    left: -200px;
    width: 200px;
    height: 100%;
    position: fixed;
}

.wrapper {
    display: block;
}

.mobile-button {
    height: 33px;
    width: 33px;
    padding: 5px;
    transition: 0.4s;
    overflow: hidden;
}

.bar-top, .bar-mid, .bar-bot {
    width: 100%;
    height: 3px;
    background-color: #0b58a2;
    margin: 5px auto;
    transition: 0.4s;
    border-radius: 5px;
}

.mobile-nav {
    background-color: #2c4359;
    width: 100%;

}

.rotate .bar-top {
    margin-top: 14px;
    transform: rotate(135deg);

}

.rotate .bar-mid {
    opacity: 0;
}

.rotate .bar-bot {
    margin-top: -16px;
    transform: rotate(-135deg);
}

/*.rotate .mobile-button{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}*/


